* {
  margin: 0;
  padding: 0;
  /* background-color: #F4F5FD; */
}

.App {
  text-align: center;
  background-color: #F4F5FD;
}

.headdiv {
  width: 28%;
  margin: auto;
}

.headdiv h1 {
  /* margin: 30px; */
  padding-top: 20px;
  margin-bottom: 10px;
}

.headdiv p {
  margin: 20px;
  margin-top: 10px;
}

.showMore {
  background-color: #373AE3;
  border: 1px solid transparent;
  border-radius: 25px;

  height: 40px;
  width: 140px;

  cursor: pointer;
  color: white;
  
  margin: auto;
  margin-bottom: 20px;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.hourGlass{
  margin-right:5px;
  font-size: 17px;
}